<footer class="footer bg-light py-3 text-dark text-center mt-auto" >
    <strong>Copyright &copy; 2022-2023 <a href="http://www.arato.mg">ARATO</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.5
    </div>
</footer>

 