{% extends 'base.html.twig' %}

{% block title %}Modification Avis{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
         <div class="col-12">
            <div class="col-sm-6">
                        <h1>Modifier Avis</h1>
                    </div>
                <div class="card card-info">
                   <div class="card-header">
                        <h1 class="card-title">Modifier Avis</h1>
                    </div>
              <form class="form-horizontal">
              <div class="card-footer">
                 {{ include('avis/_form.html.twig', {'button_label': 'Update'}) }}

                 <a href="{{ path('app_avis_index') }}">Annuler</a>

                 {{ include('avis/_delete_form.html.twig') }}
              </div>
              </form>
            </div>
        </div>    
        </div>
    </section>
</main>
  
{% endblock %}
