{% extends 'base.html.twig' %}

{% block title %}Edit Automobile{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
         <div class="col-12">
            <div class="col-sm-6">
                        <h1>Automobile modification</h1>
                    </div>
            <div class="card card-info">
                   <div class="card-header">
                        <h1 class="card-title">Automobile modification</h1>
                    </div>
              <form class="form-horizontal">
          
            <div class="card-footer">
             {{ include('automobile/_form.html.twig', {'button_label': 'Update'}) }}
            
             <a href="{{ path('app_automobile_index') }}" class="btn btn-default float-right" >Annuler</a> 
    
             {{ include('automobile/_delete_form.html.twig') }}
            </div>

              </form>
            </div> 
        </div>   
      </div>
    </section>
</main>


{% endblock %}
