<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{%block tittle%}Bienvenue!{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.css">
    {% block stylesheets%}{% endblock %}
  </head>

  <body class="layout-sidenav" >
    <header>
      <nav class="navbar shadow-1 primary">
        <a href="#" target="_blank" class="navbar-brand">PetitesAnnonces</a>
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="#">Acceuil</a>
          <a class="navbar-link" href="#">Link 2</a>
          <a class="navbar-link" href="#">Link 3</a>
          <a class="navbar-link" href="#">Link 4</a>
        </div>
      </nav>
    </header>
    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 sidenav-fixed white">
      <div class="sidenav-header">
        <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
      </div>
      <a href="#" class="sidenav-link active">Mon Profil</a>
      <a href="#" class="sidenav-link">Mes annonces</a>
      
    </div>


    <main>
      <button data-target="example-sidenav"
          class="btn rounded-1 press amaranth dark-1 hide-md-up">
            Open sidenav
       </button>
        {% block body  %} {%endblock%}
    </main>

    <footer class="footer primary">
      Copyright © 2023 - Example
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.js"></script>
    {% block javascript %} {%endblock%}
    <script>
      var sidenav = new Sidenav ('#example-sidenav');
    
    </script>
    <script src="{{asset('assets/js/bootstrap.script.js')}}"
        defer></script>
  </body>
</html>