<main class="container">
    <section class="row">
               <div class="col-12">
                <form method="post" action="{{ path('app_trajet_delete', {'id': trajet.id}) }}" onsubmit="return confirm('Voulez vous suprimmer vraiment cet item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trajet.id) }}">
                    <button class="btn">Supprimer</button>
                </form>
            </div>
    </section>
</main>
