{% extends 'base.html.twig' %}

{% block title %}New Trajet{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Ajouter nouveau Trajet</h1>          
                <div class="card card-info">
                   <div class="card-header">
                        <h1 class="card-title">Nouveau Trajet</h1>
                    </div>
                     <form class="form-horizontal">
                     
                        <div class="card-footer">
                            {{ include('trajet/_form.html.twig') }}
                            <a href="{{ path('app_trajet_index') }}"class="btn btn-default float-right">retour</a>
                        </div>
                     </form>
                </div>
        </div>
    </section>
</main>
{% endblock %}
